pipeline/Incremental_load.json
{
	"name": "Incremental_load",
	"properties": {
		"activities": [
			{
				"name": "last_load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from water_Table",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_az_sql",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "curr_load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select max(Date_ID) as max_date from dbo.source_car_data",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_az_sql",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "src_cars_data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "last_load",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "curr_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select * from source_car_data where Date_ID > '@{activity('last_load').output.value[0].last_load}' and Date_ID<='@{activity('curr_load').output.value[0].max_date}'\n\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_az_sql",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_bronze",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "update_watertable",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "src_cars_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateWaterTable]",
					"storedProcedureParameters": {
						"lastload": {
							"value": {
								"value": "@{activity('curr_load').output.value[0].max_date}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azsql",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-02-08T14:51:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}